.container {
  padding: 0 20px;
  flex: 1;
  display: flex;
  background-color: #00897B;
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 0 50px;
  }
}

.main {
  width: 94%;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px 0;
}

.main h2 {
  margin-top: 40px;
  color: white;
}

.radioButtonGroup label {
  background: white;
  width: 100%;
  padding: 12px;
  margin: 4px 0;
  border-radius: 12px;
}

.radioButtonGroup label div {
  margin-right: 5px;
}

.descriptionText {
  color: white;
}

.questionsCard {
  margin: 15px 0;
  box-shadow: none !important;
}

.question {
  padding: 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question div,
.question div span,
.question button {
  display: flex;
  align-items: center;
}

.questionType {
  margin-right: 10px;
}

.confirmArchiveButton {
  margin: 0 auto;
}

.newQuestionButton {
  float: right;
  padding: 10px !important;
  border-radius: 50px !important;
  display: flex !important;
  align-items: center;
}

.buttonMenu {
  display: flex;
  justify-content: space-between;
}

.calendarButton {
  display: flex !important;
  border-radius: 50px !important;
  padding: 13px !important;
}

.emotionGrid {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
  column-gap: 15px;
}

.emotionGrid button {
  display: flex;
  padding: 0 !important;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.emojiAndLabel {
  margin: 20px 5px 10px 5px;
}

.emoji {
  font-size: 26px;
}

.checkinCalendar {
  color: white;
  width: unset !important;
}

.checkinCalendar svg {
  stroke: white;
  fill: white;
}

.calendarDate {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 60px;
  width: 46px;
  padding-top: 10px;
}

.calendarDate div {
  width: 100%;
  text-align: center;
}

.checkinDate {
  text-align: center;
  color: white;
  font-size: 16px;
}

.centerEmoji {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  margin: 15px 0 10px 0;
}

.centerEmotion {
  text-align: center;
  color: white;
  font-size: 30px;
}

.centerNotes {
  color: white;
  margin: 20px 0;
}
