.container {
  min-height: 100vh;
  padding: 0 20px;
  display: flex;
  background-color: #00897B;
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 0 50px;
  }
}

.main {
  width: 94%;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 0;
}

.main h2 {
  margin-top: 40px;
  color: white;
}

.radioButtonGroup label {
  background: white;
  width: 100%;
  padding: 12px;
  margin: 4px 0;
  border-radius: 12px;
}

.radioButtonGroup label div {
  margin-right: 5px;
}

.descriptionText {
  color: white;
}

.questionsCard {
  margin: 15px 0;
  box-shadow: none !important;
}

.question {
  padding: 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question div,
.question div span,
.question button {
  display: flex;
  align-items: center;
}

.questionType {
  margin-right: 10px;
}

.confirmArchiveButton {
  margin-top: 15px !important;
}

.newQuestionButton {
  float: right;
  padding: 10px !important;
  border-radius: 50px !important;
  display: flex !important;
  align-items: center;
}