html,
body {
  padding: 0;
  margin: 0;
  font-family: NimbusSansExd, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'NimbusSansExd';
  font-weight: 700;
  src: local('NimbusSansExd'), url(./assets/fonts/Nimbus-Sans-D-OT-Bold-Extended_32745.ttf) format('truetype');
}

@font-face {
  font-family: 'NimbusSansExd';
  src: local('NimbusSansExd'), url(./assets/fonts/Nimbus-Sans-D-OT-Regular-Extended_32755.ttf) format('truetype');
}

input, textarea {
  background: white !important;
}
