@media only screen and (min-width: 600px) {
  .navbar {
    display: none !important;
  }
}

.navbar {
  padding: 10px 20px;
  background-color: #00897B;
  color: white;
}

.logoName {
  font-weight: bold;
  margin-right: 8px;
}

.navbarRight {
  display: flex;
  align-items: center;
}

.feedbackButton {
  margin-right: 10px !important;
  font-size: 16px !important;
}
