.prevAndProgress {
  display: flex;
}

@media only screen and (min-width: 400px) {
  .prevAndProgress {
    display: block;
  }

  .progressContainer {
    display: flex;
    justify-content: center;
    position: relative;
    top: -32px;
  }
}

.nextButton {
  margin: 40px 0 !important;
  padding: 8px !important;
  width: 100%;
  font-weight: bold !important;
  color: white !important;
}
